DISCORD_TOKEN=CHANGE_ME
DISCORD_CLIENT_ID=CHANGE_ME
DISCORD_GUILD_ID=CHANGE_ME
TESTER_ROLE_ID=CHANGE_ME
ADMIN_CHANNEL_ID=1510325369209753694
LOG_CHANNEL_ID=1510325207103967475
API_URL=https://CHANGE-ME.example.com
API_KEY=CHANGE_ME
TIER_ROLE_LT5=CHANGE_ME
TIER_ROLE_HT5=CHANGE_ME
TIER_ROLE_LT4=CHANGE_ME
TIER_ROLE_HT4=CHANGE_ME
TIER_ROLE_LT3=CHANGE_ME
TIER_ROLE_HT3=CHANGE_ME
TIER_ROLE_LT2=CHANGE_ME
TIER_ROLE_HT2=CHANGE_ME
TIER_ROLE_LT1=CHANGE_ME
TIER_ROLE_HT1=CHANGE_ME
